body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
input {
  font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
button {
  cursor: pointer;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  padding: 0 15px;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header Mobile Styles */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding-top: 16px;
  padding-bottom: 16px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
span {
  color: #2e2f42;
}
.menu {
  display: none;
}
.contacts {
  display: none;
}
.mobile-open-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-open-btn-icon {
  fill: #2f2f37;
}
/* /Header Mobile Styles */

/* Hero Mobile Styles*/
.hero-section {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}
.hero-title {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.order-service {
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #ffffff;
}
/* /Hero Mobile Styles */

/* Our benefits Mobile Styles */
.benefits {
  padding: 96px 0;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.benefits-item {
  width: 288px;
  display: flex;
  flex-direction: column;
}
.benefits-icon {
  display: none;
}
.benefits-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /Our benefits Mobile Styles */
.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 264px;
  margin: 0 auto;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member {
  padding: 32px 0;
}
.team-member-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.team-member-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}
.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icons-items {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}
.social-media-team {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
/* Our team Mobile Styles*/

/* /Our team Mobile Styles*/
@media screen and (min-width: 480px) {
  .container {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile Our benefits End */

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
  .menu {
    display: flex;
  }
  .contacts {
    display: flex;
  }
  .mobile-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
