body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
input {
  font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
button {
  cursor: pointer;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header Mobile Styles */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding-top: 16px;
  padding-bottom: 16px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
span {
  color: #2e2f42;
}
.menu {
  display: none;
}
.contacts {
  display: none;
}
.mobile-open-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-open-btn-icon {
  fill: #2f2f37;
}
/* /Header Mobile Styles */

/* Hero Mobile Styles*/
.hero-section {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-background@2x.jpg);
  }
}
.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.order-service {
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #ffffff;
}
/* /Hero Mobile Styles */

/* Our benefits Mobile Styles */
.benefits {
  padding: 96px 0;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
.benefits-item {
  width: 288px;
  display: flex;
  flex-direction: column;
}
.benefits-icon {
  display: none;
}
.benefits-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /Our benefits Mobile Styles */

/* Our team Mobile Styles*/
.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
.team-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member {
  padding: 32px 0;
}
.team-member-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.team-member-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}
.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icons-items {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}
.social-media-team {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
/* /Our team Mobile Styles*/

/* Our benefits Mobile Styles */
.portfolio {
  padding: 96px 0;
}
.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  height: 240px;
}
.portfolio-img-container {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}
.portfolio-box {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border: 1px solid #f4f4fd;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-top: none;
}
.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /Our benefits Mobile Styles */

/* Footer Mobile Styles */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.logo-footer {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  height: 72px;
  color: #f4f4fd;
  margin-bottom: 72px;
}
.social-media-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-icons-items {
  width: 40px;
  height: 40px;
}
.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.subscribe-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: block;
  text-align: center;
}
.subscribe-email {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  color: #ffffff;
}
.subscribe-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  margin: 0 auto;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  background-color: #4d5ae5;
}
.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}
/* /Footer Mobile Styles */

/* Modal Window Mobile */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(46, 47, 66, 0.4);
  padding-top: 8px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  padding-top: 72px;
  padding-bottom: 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 0;
  fill: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}
.modal-form-text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-field-wrapper {
  margin-bottom: 8px;
}
.modal-field-item {
  position: relative;
}
.modal-field-label {
  display: block;
  margin-bottom: 4px;
  align-items: flex-start;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-field-area {
  padding-left: 34px;
  width: 256px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-area:focus {
  border-radius: 4px;
  border-color: #4d5ae5;
}
.modal-field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-area:focus + .modal-field-icon {
  fill: #4d5ae5;
}
.modal-comment-wrapper {
  margin-bottom: 16px;
}
.modal-comment {
  resize: none;
  width: 256px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  color: #8e8f99;
  opacity: 0.5;
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-accept-wrapper {
  margin-bottom: 24px;
}
.modal-accept-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-accept-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  min-width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-accept-field:checked + .modal-accept-text .modal-accept-box {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.modal-accept-field:focus + .modal-accept-text .modal-accept-box {
  outline: 2px solid #000000;
}
.modal-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.modal-send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}
/* /Modal Window Mobile */

/* Mobile Menu Styles */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
}

.mobile-menu-close-btn {
  border: none;
  background-color: #e7e9fc;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-menu-close-icon {
  fill: #2e2f42;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-items:first-child .mobile-menu-link {
  color: #404bbf;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-menu-nav {
  margin-bottom: 168px;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
  font-style: normal;
}
.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}
.mobile-menu-contacts-items:first-child .mobile-menu-contacts-link {
  color: #4d5ae5;
}
.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus {
  color: #4d5ae5;
}
.mobile-menu-media {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
.mobile-menu-media-items {
  width: 40px;
  height: 40px;
}
.mobile-menu-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.mobile-menu-media-icon {
  fill: #f4f4fd;
}

/* /Mobile Menu Styles */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* Header Tablet Styles */
  .page-header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-item:first-child .menu-link {
    color: #404bbf;
  }
  .menu-item:first-child .menu-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    content: '';
  }
  .contacts {
    display: flex;
    font-style: normal;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }
  .contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
  }
  .contact-link:hover,
  .contact-info .contact-link:focus {
    color: #404bbf;
  }
  .mobile-open-btn {
    display: none;
  }
  /* /Header Tablet Styles */

  /* Hero section Tablet Styles */
  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-background-image.jpg);
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
  }
  /* /Hero section Tablet Styles */

  /* Our benefits Tablet Styles */
  .benefits-title {
    text-align: start;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-item {
    width: 356px;
    align-items: flex-start;
  }
  /* .Our benefits Tablet Styles */

  /* Our team Tablet Styles*/
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  /* /Our team Tablet Styles*/

  /* Portfolio Tablet Styles */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-img {
    height: 300px;
  }
  .portfolio-box {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-top: none;
  }
  /* /Portfolio Tablet Styles */

  /* Footer Tablet Styles */
  .page-footer {
    padding-left: 108px;
  }
  .logo-footer {
    display: inline-block;
  }
  .footer-text {
    width: 264px;
    height: 72px;
    margin: 0;
  }
  .media {
    display: inline-block;
  }
  .page-footer .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .social-media-title {
    text-align: start;
  }
  .footer-icons {
    margin-bottom: 0;
  }
  .subscribe-text {
    text-align: start;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-email {
    margin-bottom: 0;
    width: 264px;
  }
  .subscribe-button {
    margin: 0;
  }
  /* /Footer Tablet Styles */

  /* Modal Window Tablet Styles */
  .backdrop {
    padding-top: 96px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }
  .modal-field-area {
    width: 360px;
  }
  .modal-comment {
    width: 360px;
  }
  /* /Modal Window Tablet Styles  */

  .mobile-menu {
    display: none;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-background-image@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header Desktop Styles */
  .contact-info {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  /* /Header Desktop Styles */

  /* Hero section Desktop Styles */
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-background-image.jpg);
  }
  .hero-title {
    text-transform: none;
    margin-bottom: 48px;
  }
  /* /Hero section Desktop Styles */

  /* Our benefits Desktop Styles */
  .benefits {
    padding: 120px 0;
  }
  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .benefits-item {
    width: calc((100% - 72px) / 4);
    align-self: flex-start;
  }
  .benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    padding: 24px 0;
    fill: #2e2f42;
    margin-bottom: 8px;
  }
  .benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #2e2f42;
  }
  .benefits-text {
    font-weight: 400;
  }
  /* /Our benefits Desktop Styles */

  /* Our team Desktop Styles*/
  .our-team {
    padding: 120px 0;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  /* /Our team Desktop Styles*/

  /* Portfolio Desktop Styles */
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-box {
    box-shadow: none;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  /* /Portfolio Desktop Styles */

  /* Footer Desktop Styles */
  .page-footer {
    padding: 100px 0;
  }
  .logo-text {
    margin-right: 120px;
  }
  .footer-icons {
    margin-right: 80px;
  }

  .page-footer .container {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
  }
  /* Subscribe */
  .subscribe-form {
    justify-content: center;
    align-items: flex-end;
  }
  .subscribe-email {
    border: 1px solid #ffffff;
  }
  .subscribe-email::placeholder {
    color: #ffffff;
  }
  /* /Footer Desktop Styles */

  /* Modal Window Desktop */
  .backdrop {
    padding-top: 80px;
  }
  .modal {
    padding: 72px 24px 24px 24px;
  }
  .modal-field-area {
    padding-left: 38px;
  }
  /* /Modal Window Desktop */
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-background-image@2x.jpg);
  }
}
